<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OAuth Template</title>
  </head>
  <body>
    <div class="container">
      <h1>OAuth Template</h1>

      <div role="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
